{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
    <section class="auth-page">
        <div class="form-container">
            <div class="form-header">
                <h2>Create your account</h2>
                <p>Join Sheryians and start building your tech career.</p>
            </div>

            <form method="post">
                {% csrf_token %}

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {{ form.non_field_errors }}

                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}
                            <small class="helptext">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit">Register</button>

                <p class="form-footer">
                    Having Account ?
                    <a href="{% url 'login' %}">Login</a>
                </p>
            </form>
        </div>
    </section>
{% endblock %}